.verdeClaro{
    background-color:#dbfbeb;
}
.verdeOscuro{
    background-color:#abebac;

}
.ensayoCeguera{
    background-color:#93cb94;
}

.parrafoAzul{
    background-color:#a8e7f6;
    font-size: 13pt;
}

.parrafoBlanco{
    background-color:#f5e7f2;
    font-size: 9pt;
}